.steam-user-details {
  align-self: center;
  display: inline-flex;
  flex-direction: row;
  padding: 1em;
}

.avatar-img {
  border: 0.2em solid rgb(131, 131, 131);
  border-radius: 7px;
}

.user-persona {
  font-family: 'Contrail One', cursive;
  color: white;
  margin-left: 0.5em;
  margin-top: 0.3em;
}

.profile-link {
  font-family: 'Source Code Pro', monospace;
  color: white;
  text-decoration: none !important;
  margin-left: 1.5em;
  margin-top: 1.5em;
}

.profile-link:hover {
  color: rgb(162, 236, 255);
}

.game-count {
  font-family: 'Contrail One', cursive;
  color: white;
}

.game-count-num {
  font-family: 'Contrail One', cursive;
  color: rgb(162, 236, 255);
  float: bottom;
}

.game-count-div {
  display: flex;
  flex-direction: column;
  margin-bottom: -1em;
  margin-left: 1.5em;
}