.auth-header {
  display: inline-block;
  padding: 0.2em;
  background-color: rgba(255, 255, 255, 0.705);
  margin-top: 0.5em;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2.01px;
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
  border-radius: 7px;
  margin-bottom: 0.6em;
}