@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.brand {
  max-width: 13em;
}

.navbar {
  background-color: rgb(42, 47, 53);
}

.nav-link {
  font-family: 'Source Code Pro', monospace;
  color: white !important;
  margin-left: 1em;
  margin-right: 1em;
}

.linkz:hover {
  color: rgb(162, 236, 255) !important;
}

.aws-btn {
    --button-secondary-color: #fffc6c;
  --button-secondary-color-dark: #b9b500;
  --button-secondary-color-light: #6c6a00;
  --button-secondary-color-hover: #fffb3e;
  --button-secondary-border: none; 
}