@import url('https://fonts.googleapis.com/css?family=Contrail+One|Press+Start+2P&display=swap');

input {
  width: 39%;
  box-sizing: border-box;
  border: 0.2em solid rgb(151, 226, 255);
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.search-page {
  margin-bottom: 5em;
}

.search-button {
  margin-left: 1em;
  margin-right: 1em;
}

.search-results-zone {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.705);
  margin-left: 13em;
  margin-right: 13em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 7px;
}

.find-a-game {
  display: inline-block;
  padding: 0.2em;
  background-color: rgba(255, 255, 255, 0.705);
  margin-top: 0.5em;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2.01px;
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
  border-radius: 7px;
  border: 0.09em solid black;
  margin-bottom: 0.6em;
}

.my-modal {
  transition: 'opacity 1s ease-in';
}

.border {
  border: 0.26em solid black;
}

.loader-div {
  margin: auto;
  width: 50%;
  z-index: 1;
  position: relative;
}

Modal {
  border-radius: 7px
}