input {
  width: 50%;
  box-sizing: border-box;
  border: 2px solid rgb(151, 226, 255);
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}


.search-button {
  margin-left: 0.5em;
  border: 2px solid rgb(151, 226, 255);
  height: 2.8em;
}

.search-results-zone {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}